<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homesecuritymain">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar.DarkMode">
        <activity android:name=".Login.Activity.CreateNewAccountLoginActivity"></activity>
        <activity android:name=".Login.Activity.CreateNewAccountActivity" />
        <activity android:name=".Login.Activity.LoginCitizenActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAEOGV3I10vQhnEehudOk_wLTqJmGu0Ml8" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- Activities -->
        <activity android:name=".citizen.Activity.NewGrievanceActivity" />
        <activity android:name=".citizen.Activity.GuestListOTPVerificationActivity" />
        <activity android:name=".citizen.Activity.AddNewGuestListActivity" />
        <activity android:name=".citizen.Activity.MapFamilyActivity" />
        <activity android:name=".citizen.Activity.AddNewFamilyActivity" />
        <activity android:name=".guard.Activity.CallActivity" />
        <activity android:name=".guard.Activity.GuestListVerificationActivity" />
        <activity android:name=".guard.Activity.OTPActivity" />
        <activity android:name=".guard.Activity.AddNewGuestActivity" />
        <activity android:name=".Login.Activity.LoginActivityMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".guard.Activity.GuardMainActivity" />
        <activity android:name=".citizen.Activity.SettingActivityCitizen" />
        <activity android:name=".citizen.Activity.GrievanceAddressalActivity" />
        <activity android:name=".citizen.Activity.FamilyActivity" />
        <activity android:name=".citizen.Activity.NoticeActivity" />
        <activity android:name=".citizen.Activity.GuestListActivity" />
        <activity android:name=".citizen.Activity.GuestsActivity" />
        <activity android:name=".citizen.Activity.CitizenMainActivity" />
    </application>

</manifest>