<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homesecuritymain">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar.DarkMode">
        <activity android:name=".guard.Activity.CallActivity"></activity>
        <activity android:name=".guard.Activity.GuestListVerificationActivity" />
        <activity android:name=".guard.Activity.OTPActivity" />
        <activity android:name=".guard.Activity.AddNewGuestActivity"></activity>
        <activity android:name=".Login.LoginActivityMain"></activity>
        <activity android:name=".guard.Activity.GuardMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".citizen.Activity.SettingActivityCitizen" />
        <activity android:name=".citizen.Activity.GrievanceAddressalActivity" />
        <activity android:name=".citizen.Activity.FamilyActivity" />
        <activity android:name=".citizen.Activity.NoticeActivity" />
        <activity android:name=".citizen.Activity.GuestListActivity" />
        <activity android:name=".citizen.Activity.GuestsActivity" />
        <activity android:name=".citizen.Activity.CitizenMainActivity" />
    </application>

</manifest>